@model DuneDaqMonitoringPlatform.Models.Pannel

@{
    ViewData["Title"] = "Details";
}

<h1>Details @Model.Name</h1>
<h3>@Model.Description</h3>


<form asp-action="DetailsStatic" asp-route-id="@Model.Id" method="get" target="_blank">
    <input type="datetime-local" id="startTime" name="startTime" step="1">
    <input type="submit" value="Jump to time">
</form>

<h4 id="runNumber"></h4>
<h4 id="triggerRecord"></h4>

<div class="row" id="plotsContainer">
    <script>var dataDisplayIdList = []</script>
    @for (var i = 0; i < ViewBag.DataDisplayIdList.Count; i++)
    {

        <div id="chartPlaceholder@(ViewBag.DataDisplayIdList[i])" class="column"> </div>
        //Informs the hub about the Data displays requested by the client
        <script>dataDisplayIdList['@i'] = ('@ViewBag.DataDisplayIdList[i]')</script>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chart.js"></script>