@model DuneDaqMonitoringPlatform.Models.DataDisplay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DataDisplay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlotLengthX)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlotLengthX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlotLengthY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlotLengthY)
        </dd>
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            Sampling profile
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SamplingProfile.Name)
        </dd>
        <dt class="col-sm-2">
            Data list
        </dt>
        @{
            List<DuneDaqMonitoringPlatform.ViewModels.AssignedDataDisplayData> datas = ViewBag.Datas;

            foreach (var data in datas)
            {
                @:<dd class="col-sm-10"> @data.DisplayName </dd>
            }
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
