@model DuneDaqMonitoringPlatform.Models.DataDisplay

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DataDisplay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotLength" class="control-label"></label>
                <input asp-for="PlotLength" class="form-control" />
                <span asp-validation-for="PlotLength" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Data type</label>

                @Html.DropDownList("dataTypeId", new SelectList(ViewBag.DataTypes, "Id", "Description", Model.DataType.Id), new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label class="control-label">Data sampling profile</label>

                @Html.DropDownList("samplingProfileId", new SelectList(ViewBag.SamplingProfiles, "Id", "Name", Model.SamplingProfile.Id), new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label class="control-label">Data : </label>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <select id="multiSelector" name="multiSelector" multiple>
                            @{ List<DuneDaqMonitoringPlatform.ViewModels.AssignedDataDisplayData> datas = ViewBag.Datas;

                                foreach (var data in datas)
                                {
                                    @:<option value="@data.DataDisplayDataId" @(Html.Raw(data.Assigned ? "selected=\"selected\"" : ""))> @data.DataSourceName : @data.DisplayName </option>
                                }   
                            }
                        </select>
                            
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    let multiSelector = new vanillaSelectBox("#multiSelector", {
        search: true
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
