@model DuneDaqMonitoringPlatform.Models.AnalysisParameter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnalysisParameter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Analyse name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Analyse.Name)
        </dd>
        <dt class="col-sm-2">
            Parameter
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parameter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
